{% extends '__base__.html' %}

{% block body %} 
<div style="display: flex;align-items:center;flex-direction:column;">
  <h1>Creation Form</h1>
  <form class="form" style="width: 650px;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;gap:2em;">  
    {% for i in attrs %}
      {% if i[0] == 'id' %}
      {% else %}  
        <label for="formControlInput" class="form-label">{{i[0]}}</label>  
        {% if 'int' in i[1]|string %}
          <input type="number" required style="width: 200px;" class="form-control" id="formControlInput" name="{{i[0]}}" placeholder="Enter {{i[0]}}">
        {% elif i[0] == 'password' %} 
          <input type="password" required style="width: 200px;" class="form-control" id="formControlInput" name="{{i[0]}}" placeholder="Enter {{i[0]}}">
        {% elif i[0] == 'email' %}
          <input type="email" required style="width: 200px;" class="form-control" id="formControlInput" name="{{i[0]}}" placeholder="Enter {{i[0]}}">
        {% else %}
          <input type="text" required style="width: 200px;" class="form-control" id="formControlInput" name="{{i[0]}}" placeholder="Enter {{i[0]}}">
        {% endif %}
      {% endif %}
    {% endfor %}
    <button class="btn btn-dark" type="submit" style="width: 100px;">Create</button>
  </form> 
</div>
<h1 style="text-align: center;margin-top:1em;" onclick="getData">Table Records</h1>
<table class="table table-hover">
    <thead>
       <tr>
        {% for i in attrs %}
            <th scope="col">{{i[0]}}</th>
        {% endfor %}
        <th scope="col">Actions</th>
        <th></th>
       </tr>
    </thead>
    <tbody>
        {% for i in objects %}
          <tr>
            {% for j in i %}
              {% if 'https://' in j[1]|string %}
                <th><img src="{{j[1]}}" width="100%" height="100%"/></th>
              {% else %}
                <th scope="row">{{j[1]}}</th>
              {% endif %}
            {% endfor %}
            {% if i.id %}
              <th><a href="">Update</a></th>
              <th><a href="{{i.id}}" id="delete">Delete</a></th>
            {% else %}
              <th><a href="">Update</a></th>
              <th><a href="{{i.name}}" id="delete">Delete</a></th>
            {% endif %}
          </tr>
        {% endfor %}
       
    </tbody>
 </table>  
 <script>
  document.querySelector('form').addEventListener("submit",create,false)
  document.querySelectorAll('#delete').forEach(item => {
    item.addEventListener("click",delete_btn,false)
  })
  function getData(){
    var data = {}
    document.querySelectorAll('input').forEach(item => {
      data[item.name] = item.value
    })

    return data
  }

  async function delete_btn(e){
    e.preventDefault()
    const mass = e.target.href.split('/')
    const prime = mass[mass.length-1]
    try{
      const response = await fetch(window.location.href+`${prime}/`,{
        method:"DELETE",
      })
      window.location.reload()
    }
    catch(err){
      console.log(err)
    }
  }

  async function create(e){
    e.preventDefault()
    try{
      const response = await fetch(window.location.href,{
        method:"POST",
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify(getData())
      })
      window.location.reload()
    }
    catch(err){
      console.log(err)
    }
  }
</script>   
{% endblock body %}