{% extends '__base__.html' %}

{% block body %} 
<div style="display: flex;align-items:center;flex-direction:column;">
  <h1>Update Form</h1>
  <form class="form" style="width: 650px;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;gap:2em;">  
    {% for i in range(0,attrs|length) %}
      {% if attrs[i][0] == 'id' %}
      {% else %}  
        <label class="form-label">{{attrs[i][0]}}</label>
        {% if 'int' in attrs[i]|string %}
          <input type="number" required style="width: 200px;" value="{{object[i]}}" class="form-control" name="{{attrs[i][0]}}" placeholder="Enter {{attrs[i][0]}}">
        {% elif attrs[i][0] == 'password' %}
          <input type="password" required style="width: 200px;" class="form-control" value="{{object[i]}}" name="{{attrs[i][0]}}" placeholder="Enter {{attrs[i][0]}}">
        {% elif attrs[i][0] == 'description' %}
          <textarea required style="width: 200px;" class="form-control" name="{{attrs[i][0]}}" placeholder="Enter {{attrs[i][0]}}">{{object[i]}}</textarea>
        {% elif attrs[i][0] == 'email' %}
          <input type="email" required style="width: 200px;" class="form-control" value="{{object[i]}}" name="{{attrs[i][0]}}" placeholder="Enter {{attrs[i][0]}}">
        {% else %}
          <input type="text" required style="width: 200px;" class="form-control" value="{{object[i]}}" name="{{attrs[i][0]}}" placeholder="Enter {{attrs[i][0]}}">
        {% endif %}
      {% endif %}
    {% endfor %}
    <button class="btn btn-dark" type="submit" style="width: 100px;">Update</button>
  </form> 
</div>
<h1 style="text-align: center;margin-top:1em;" onclick="getData"></h1>
<table class="table table-hover">
    <thead>
       <tr>
        {% for i in attrs %}
            <th scope="col">{{i[0]}}</th>
        {% endfor %}
       </tr>
    </thead>
    <tbody>
          <tr>
            {% for j in object %}
              {% if 'https://' in j|string %}
                <th><img src="{{j}}" width="100%" height="100%"/></th>
              {% else %}
                <th scope="row">{{j}}</th>
              {% endif %}
            {% endfor %}
          </tr>
    </tbody>
 </table>  
 <script>
  document.querySelector('form').addEventListener("submit",create,false)
  document.querySelectorAll('#delete').forEach(item => {
    item.addEventListener("click",delete_btn,false)
  })
  function getData(){
    var data = {}
    document.querySelectorAll('input').forEach(item => {
      data[item.name] = item.value
    })
    document.querySelectorAll('textarea').forEach(item => {
      data[item.name] = item.innerHTML
    })

    return data
  }

  async function delete_btn(e){
    e.preventDefault()
    const mass = e.target.href.split('/')
    const prime = mass[mass.length-1]
    try{
      const response = await fetch(e.target.href+`${prime}`,{
        method:"DELETE",
      })
      window.location.reload()
    }
    catch(err){
      console.log(err)
    }
  }

  async function create(e){
    e.preventDefault()
    try{
      const response = await fetch(window.location.href,{
        method:"PATCH",
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify(getData())
      })
      window.location.reload()
    }
    catch(err){
      console.log(err)
    }
  }
</script>   
{% endblock body %}